@media only screen and (max-width: 550px) {
    html {
        font-family: oswald, sans-serif;
        align-content: center;
        padding: 50px;
    }
    .logo{
        text-align: center;
    }
    .nav {
        text-align: center;
        padding-right: 40px;
        margin-bottom: 10px;
    }
    ol, li{
        list-style-type: none;
    }
    img{
        overflow: hidden;
    }
    ol, li:visited{
        color: white;
    }
    .nav:visited{
        color: white;
    }
    .prijzenPc{
        display: none;
    }
    hr{
        height: 2px;
        background-color: black;
    }
    .mobielPrijzen{
        text-align: center;
    }
     h1{
         text-align: center;
    }
    .openingstijdenMobiel{

    }
    .openingstijdenPc{
        display: none;
    }
    .salonPc{
        display: none;
    }
}

@media only screen and (min-width: 551px){
    .mobielPrijzen{
        display: none;
    }
    .salonMobiel{
        display: none;
    }
    .openingstijdenMobiel{
        display: none;
    }
}